.Logo{
    float: left;
    margin-left: 1em;
    margin-top: 1em;
    height: 5em;
    width: 20em;
}


.Weißer-Kasten{
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    height: 8em;
    background-color: rgb(255, 255, 255);
}

.Textkasten{
    padding: 2em;
    margin-top: 10%;
    margin-left: 20%;
    margin-right: 20%;
    box-shadow: 20px 10px rgba(0,0,0,.15);
    background-color: white;

}
.Textkasten:hover {
    box-shadow: 10px 10px rgba(0,0,0,.25);
}

.Textkasten-Überschrift{
    margin-left: 10%;
    margin-right: 10%;
}

.Textkasten-Text{
    margin-left: 10%;
    margin-right: 10%;
}

.PLZ{
    margin-left: 10%;
    margin-right: 10%;
}
.PLZ-input{
    width: 40px;
}

body{
    background-image: url('./sources/solar.jpg');
}

footer{
    position:absolute;
    width: 100%;
    bottom: 0;
    left:0;
    background-color: white;
    height: 5em;
}
/*
.Navigationsleiste{
    float: right;
    margin-right: 5em;

}

ul {
    list-style-type: none;
    background-color: rgb(39, 37, 37);
    overflow: hidden;
}

li {
    display: inline;
}
li a {
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(49, 19, 156);
}
*/
