body{
    background-image: url('./sources/background.jpg');
    font-size: 1.5em;
    margin: 0;
    padding: 0;
}

#navbar{
    position:absolute;
    top: 0;
    width: 100%;
    background-color: white;
    height: 7%;
    overflow: hidden;
}

ul {
    margin-top: 0.65em;
    padding: 0;
    list-style-type: none;
}

li {
    display: inline-block;
    margin-left: 1em;
}
li a {
  color: black;
  text-align: center;
  text-decoration: none;
}

li a:hover {
  background-color: green;
}

#navIcon{
    float: left;
    height: 2.5em;
    margin-left: 1em;
}

#login{
    float:right;
    margin-right: 1em;
}

#logo{
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    display: block;
}

.mainDiv{
    width: 50%;
    margin: auto;
    margin-top: 7em;
    padding: 1em;

    border-radius: 25px;
    box-shadow: 20px 10px rgba(0,0,0,.15);
    background-color: white;
}

.logoDiv{
    width: auto;
    margin: auto;
    background-color: white;
}

.textDiv{
    padding: 1em;
    text-align: center;
    background-color: white;
}


.PLZ-input{
    width: 4em;
    margin-right: 1em;
}

footer{
    position:absolute;
    width: 100%;
    bottom: 0;
    background-color: transparent;
    height: 4em;
    text-align: center;
    color: white;
    font-size: 0.5em;
}

.mainDiv-Td{
    width: 80%;
    margin: auto;
    margin-top: 7em;
    padding: 1em;

    border-radius: 25px;
    box-shadow: 20px 10px rgba(0,0,0,.15);
    background-color: white;
}

.Td-Überschrift-Icon{
    float: left;
    height: 2em;
    margin-left: 1em;
    margin-right: 0.5em;
}

.Td-Überschrift{
    font-size: 1.5em;
}

.mainDiv-Login{
    width: 50%;
    margin: auto;
    margin-top: 7em;
    padding: 1em;

    border-radius: 25px;
    box-shadow: 20px 10px rgba(0,0,0,.15);
    background-color: white;
}

.Login-Überschrift-Icon{
    float: left;
    height: 2em;
    margin-left: 1em;
    margin-right: 0.5em;
}

.Login-Überschrift{
    font-size: 1.5em;
}

.Email{
    font-size: 1em;
}

.Passwort{
    margin-left: 2em;
}

.card{
    margin-top: 1em;
}